@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: #198ed2;
  --accent-color: #7386f0;
  --text-color: #FFFFFF;
  --card-background-start: #1976D2;
  --card-background-end: #850371;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(145deg, var(--card-background-start) 0%, var(--card-background-end) 100%);;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.App .MuiCard-root {
  background-color: linear-gradient(145deg, var(--card-background-start) 0%, var(--card-background-end) 100%);
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 0;
  overflow: hidden;
}

.App .MuiTypography-root {
  color: var(--text-color);
}

.App h5.MuiTypography-root {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Texto dentro del cajetin de texto */
.App .MuiInputBase-root {
  color: var(--text-color);
}

/* Campo de texto */
.App .MuiTextField-root {
  margin-bottom: 1rem;
}

/* Etiqueta de "How are you feeling?" */
.App .MuiInputLabel-root {
  color: var(--text-color);
}

/* Borde de cajetin de texto */
.App .MuiOutlinedInput-notchedOutline {
  border-color: var(--card-background-start);
  outline: 2px;
}

/* Boton de "Get Recommendations!" */
.App .MuiButton-containedPrimary {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 600;
  text-transform: none;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}

.App .MuiButton-containedPrimary:hover {
  background-color: var(--accent-color);
}

/* Icono de carga */
.App .MuiCircularProgress-root {
  color: var(--text-color);
}

/* Lista de recomendaciones */
.App .MuiList-root {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 0.5rem;
}

/* Objeto en lista de recomendaciones */
.App .MuiListItem-root {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.App .MuiListItem-root:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.App .MuiListItemText-primary {
  color: var(--text-color);
  font-weight: 600;
}

.App .MuiListItemText-secondary {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
  .App .MuiCard-root {
    padding: 1.5rem;
  }
  
  .App h5.MuiTypography-root {
    font-size: 1.2rem;
  }
}
